.bodybackg
  %h1 this is the face of user, like a person status
  %h2= @wish.title
  %br
  %h3= link_to @soul.name, soul_path(@soul)
  %br
  = link_to "new", new_soul_wish_path, class: "btn btn-default btn_bottom_back"
  = link_to "delete", soul_wish_path(@soul, @wish), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default btn_bottom_back"
  .co
    %p
      =@wish.get_upvotes.size
      Likes
    %p
      =@wish.get_downvotes.size
      Likes
    =link_to "Like", like_soul_wish_path(@soul, @wish), method: :get
    =link_to "Dislike", dislike_soul_wish_path(@soul, @wish), method: :get
  .body_wish_show
    .col-xs-1.col-md-1
      %p
        =@wish.get_upvotes.size
        Likes
      %p
        =@wish.get_downvotes.size
        Likes
      =link_to "Like", like_soul_wish_path, method: :get
      =link_to "Dislike", dislike_soul_wish_path, method: :get

    .col-xs-6.col-md-6
      - @wishes.each do |wi|
        .user_plate
          .col-xs-3.col-md-3
            .suit
              .suits_fotos
                %h2= link_to wi.title, soul_wish_path(@soul, wi)
                %h2= truncate(wi.description, length: 5)
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3


    .col-xs-5.col-md-5
      #comments
        %h2.comment_count= pluralize(@wish.wishcomments.count, "Comment")
        - @wishcomments.each do |wis|
          .comment
            %p
              = wis.soul.name
              = wis.wishcontent
        = render "wishcomments/form"


  - if @soul.user == current_user
    = link_to "edit", edit_soul_wish_path, class: "btn btn-default btn_bottom_back"