.suit_text
  %h1 this is the face of user, like a person status
  %h2= @purpose.purport
  %br
  %h3= link_to @soul.name, soul_path(@soul)
  %br
  = link_to "new", new_soul_purpose_path, class: "btn btn-default btn_bottom_back"
  = link_to "delete", soul_purpose_path(@soul, @purpose), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default btn_bottom_back"

  .body_purpose_show
    .col-xs-1.col-md-1

    .col-xs-8.col-md-8
      - @purposes.each do |purp|
        .user_plate
          .col-xs-3.col-md-3
            .suit
              .suits_fotos
                %h2= link_to purp.purport, soul_purpose_path(@soul, purp)
                %h2= truncate(purp.description, length: 5)
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3


    .col-xs-3.col-md-3
      #comments
        %h2.comment_count= pluralize(@purpose.purpcomments.count, "Comment")
        - @purpcomments.each do |purpcom|
          .comment
            %p.username= purpcom.soul.name
            %p.content= purpcom.purpcontent
        = render "purpcomments/form"

  - if @soul.user == current_user
    = link_to "edit", edit_soul_purpose_path, class: "btn btn-default btn_bottom_back"