.suit_text
  .col-xs-1.col-md-1
    .btn_back
    = link_to "Back", root_path, class: "btn btn-default"
  .col-xs-10.col-md-10
    .tit_desc_img_block
      = simple_form_for @soul, html: { multipart: true } do |f|
        - if @soul.errors.any?
          #errors
            %p
              = @soul.errors.count
              Prevented this soul froms saving
            %ul
              - @soul.errors.full_messages.each do |msg|
                %li= msg
        .panel-body
          = f.input :name, label: 'Youre Name', input_html: { title: "NAME of your soul", class: 'form-control'}
          = f.input :surname, label: 'Youre Surname', input_html: { class: 'form-control'}
          = f.input :nickname, label: 'If you have a Nickname', input_html: { title: "NAME of your soul", class: 'form-control'}
          = f.input :born, start_year: 1900, label: 'Date of yore birthday', input_html: { class: 'form-control'}
          /:start_date, { :include_blank => true, :start_year => 1995 }
          = f.input :city, label: 'Youre city', input_html: { title: "NAME of your soul", class: 'form-control'}
          = f.input :mob_number, label: 'mobile number', input_html: { class: 'form-control'}
          = f.input :facebook, label: 'Youre facebook link', input_html: { title: "NAME of your soul", class: 'form-control'}
          = f.input :github, label: 'Youre github link', input_html: { class: 'form-control'}
          = f.input :linkid, label: 'Youre Link_Id link', input_html: { title: "NAME of your soul", class: 'form-control'}
          = f.input :skype, label: 'Youre Skype contack', input_html: { class: 'form-control'}
          = f.input :history, label: 'Who you are? Tell something about youre self', input_html: { class: 'form-control'}
          

          
        .sub_button
          = f.button :submit, class: "btn btn-primary sub_button"
        .btn_bottom_back
          = link_to "Back", root_path, class: "btn btn-default btn_bottom_back"
  .col-xs-1.col-md-1
  %br