.suit_text
  %h1 this is the face of user, like a person status
  %h2= @soul.name
  %h2= @soul.surname 
  %h2= @soul.nickname
  %h2= @soul.born
  %h2= @soul.city
  %h2= @soul.mob_number
  %h2= @soul.facebook
  %h2= @soul.github
  %h2= @soul.linkid
  %h2= @soul.skype
  %h2= @soul.history
  - if @soul.user == current_user
    = link_to "edit", edit_soul_path, class: "btn btn-default btn_bottom_back"