.suit_text
  .col-xs-1.col-md-1
    .btn_back
    = link_to "Back", root_path, class: "btn btn-default"
  .col-xs-10.col-md-10
    .tit_desc_img_block
      = simple_form_for ([@soul, @quotation]), html: { multipart: true } do |f|
        - if @soul.errors.any?
          #errors
            %p
              = @quotation.errors.count
              Prevented this quotation froms saving
            %ul
              - @quotation.errors.full_messages.each do |msg|
                %li= msg
        .panel-body
          = f.input :author, label: 'quotation author', input_html: { title: "NAME of your quotation", class: 'form-control'}
          = f.input :proverb, label: 'proverb', input_html: { class: 'form-control'}
          = f.input :description, label: 'description', input_html: { title: "NAME of your quotation", class: 'form-control'}
          = f.input :datecomment, label: 'quotation was find at:', input_html: { class: 'form-control'}
          = f.input :created, label: 'quotation date creation', input_html: { title: "NAME of your quotation", class: 'form-control'}
   
        .sub_button
          = f.button :submit, class: "btn btn-primary sub_button"
        .btn_bottom_back
          = link_to "Back", root_path, class: "btn btn-default btn_bottom_back"
  .col-xs-1.col-md-1
  %br