.suit_text
  %h1 this is the face of user, like a person status
  %h2= @quotation.proverb
  %br
  %h3= link_to @soul.name, soul_path(@soul)
  %br
  = link_to "new", new_soul_quotation_path, class: "btn btn-default btn_bottom_back"
  = link_to "delete", soul_quotation_path(@soul, @quotation), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default btn_bottom_back"

  .body_quotation_show
    .col-xs-3.col-md-3
      #comments
        %h2.comment_count= pluralize(@quotation.quotycomments.count, "Comment")
        - @quotycomments.each do |quotcom|
          .comment
            %p.username= quotcom.soul.name
            %p.content= quotcom.quotycontent
        = render "quotycomments/form"

    .col-xs-8.col-md-8
      - @quotations.each do |quot|
        .user_plate
          .col-xs-3.col-md-3
            .suit
              .suits_fotos
                %h2= link_to quot.author, soul_quotation_path(@soul, quot)
                %h2= link_to quot.proverb, soul_quotation_path(@soul, quot)
                %h2= truncate(quot.description, length: 5)
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3
    .col-xs-1.col-md-1


  - if @soul.user == current_user
    = link_to "edit", edit_soul_quotation_path, class: "btn btn-default btn_bottom_back"