.bodybackg
  .col-xs-1.col-md-1
    .btn_back
    = link_to "Back", root_path, class: "btn btn-default"
  .col-xs-10.col-md-10
    .tit_desc_img_block
      = simple_form_for ([@soul, @project]), html: { multipart: true } do |f|
        - if @soul.errors.any?
          #errors
            %p
              = @project.errors.count
              Prevented this project froms saving
            %ul
              - @project.errors.full_messages.each do |msg|
                %li= msg
        .panel-body
          = f.input :name, label: 'Project Name', input_html: { title: "NAME of your project", class: 'form-control'}
          = f.input :description, label: 'Project description', input_html: { class: 'form-control'}
          = f.input :url, label: 'Link', input_html: { title: "NAME of your project", class: 'form-control'}
          = f.input :team, label: 'Project Team', input_html: { class: 'form-control'}
          = f.input :client, label: 'Project Customer', input_html: { title: "NAME of your project", class: 'form-control'}
          = f.input :imgproject, label: 'Attach an image that will be in this project', input_html: { class: 'form-control'}
        .edu_addi_reaso
          .col-xs-12.col-md-12
            %h3 Team:
            #additional_educations
              = f.simple_fields_for :projectteams do |projectteam|
                = render 'projectteam_fields', f: projectteam
              .links
                = link_to_add_association 'Team member', f, :projectteams, class: "btn btn-default add-button"
        %br
        .sub_button

          = f.button :submit, class: "btn btn-primary sub_button"
        .btn_bottom_back
          = link_to "Back", root_path, class: "btn btn-default btn_bottom_back"
  .col-xs-1.col-md-1
  %br