.suit_text
  %h1 this is the face of user, like a person status
  %h2= @project.name
  %br
  %h3= link_to @soul.name, soul_path(@soul)
  %br
  = link_to "new", new_soul_project_path, class: "btn btn-default btn_bottom_back"
  = link_to "delete", soul_project_path(@soul, @project), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default btn_bottom_back"

  .body_project_show
    .col-xs-1.col-md-1
      %p
        =@project.get_upvotes.size
        Likes
      %p
        =@project.get_downvotes.size
        Dislikes
      =link_to "Like", like_soul_project_path(@soul, @project), method: :get
      =link_to "Dislike", dislike_soul_project_path(@soul, @project), method: :get

    .col-xs-6.col-md-6
      - @projects.each do |proj|
        .user_plate
          .col-xs-3.col-md-3
            .suit
              .suits_fotos
                %h2= link_to proj.name, soul_project_path(@soul, proj)
                %h2= truncate(proj.description, length: 5)
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3


    .col-xs-2.col-md-2
      #Additional_education:
        %h3 Team:
        %ul
          - @project.projectteams.each do |projectteam|
            %li= projectteam.team 
    .col-xs-3.col-md-3
      #comments
        %h2.comment_count= pluralize(@project.projcomments.count, "Comment")
        - @projcomments.each do |projcomment|
          .comment
            %p.username= projcomment.soul.name
            %p.content= projcomment.projcontent
        = render "projcomments/form"

  - if @soul.user == current_user
    = link_to "edit", edit_soul_project_path, class: "btn btn-default btn_bottom_back"