.suit_text
  %h1 this is the face of user, like a person status
  %h2= @experience.title
  %br
  %h3= link_to @soul.name, soul_path(@soul)
  %br
  = link_to "new", new_soul_experience_path, class: "btn btn-default btn_bottom_back"
  = link_to "delete", soul_experience_path(@soul, @experience), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default btn_bottom_back"

  .body_experience_show
    .col-xs-1.col-md-1

    .col-xs-10.col-md-10
      - @experiences.each do |exp|
        .user_plate
          .col-xs-3.col-md-3
            .suit
              .suits_fotos
                %h2= link_to exp.title, soul_experience_path(@soul, exp)
                %h2= truncate(exp.description, length: 5)
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3


    .col-xs-1.col-md-1

  - if @soul.user == current_user
    = link_to "edit", edit_soul_experience_path, class: "btn btn-default btn_bottom_back"