.suit_text
  %h1 this is the face of user, like a person status
  %h2= @hobby.title
  %br
  %h3= link_to @soul.name, soul_path(@soul)
  %br
  = link_to "new", new_soul_hobby_path, class: "btn btn-default btn_bottom_back"
  = link_to "delete", soul_hobby_path(@soul, @hobby), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default btn_bottom_back"

  .body_hobby_show
    .col-xs-1.col-md-1

    .col-xs-6.col-md-6
      - @hobbies.each do |hob|
        .user_plate
          .col-xs-3.col-md-3
            .suit
              .suits_fotos
                %h2= link_to hob.title, soul_hobby_path(@soul, hob)
                %h2= truncate(hob.description, length: 5)
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3


    .col-xs-4.col-md-4
      #Technologies_I_work_with:
        %h3 Marks:
        %ul
          - @hobby.hobbylists.each do |hobb|
            %li= hobb.hob_mark 

  - if @soul.user == current_user
    = link_to "edit", edit_soul_hobby_path, class: "btn btn-default btn_bottom_back"