.suit_text
  .col-xs-1.col-md-1
    .btn_back
    = link_to "Back", root_path, class: "btn btn-default"
  .col-xs-10.col-md-10
    .tit_desc_img_block
      = simple_form_for ([@soul, @resume]), html: { multipart: true } do |f|
        - if @soul.errors.any?
          #errors
            %p
              = @resume.errors.count
              Prevented this resume froms saving
            %ul
              - @resume.errors.full_messages.each do |msg|
                %li= msg
        .panel-body
          = f.input :suitname, label: 'resume Name', input_html: { title: "NAME of your resume", class: 'form-control'}
          = f.input :suitdescription, label: 'resume description', input_html: { class: 'form-control'}
          = f.input :workmail, label: 'Link', input_html: { title: "NAME of your resume", class: 'form-control'}
          = f.input :onlineswitch, null: true, default: 'resume switch', label: 'Link', input_html: { title: "NAME of your resume", class: 'form-control'}
          = f.input :imgresume, label: 'Attach an image that will be in this resume', input_html: { class: 'form-control'}

        .sub_button
          = f.button :submit, class: "btn btn-primary sub_button"
        .btn_bottom_back
          = link_to "Back", root_path, class: "btn btn-default btn_bottom_back"
  .col-xs-1.col-md-1
  %br