.headsuitsshow
  .searchsuitsshow
    .col-xs-2.col-md-2
    .col-xs-6.col-md-6
      %h2 Look at these people dressed :)
    .col-xs-4.col-md-4
      %h2 Search menu
    

.bodysuitsshow
  .col-xs-1.col-md-1

  .col-xs-10.col-md-10
    - @resume.each_slice(1) do |s|
      .userplate
        - s.each do |su|
          .col-xs-3.col-md-3
            .suit
              .suits_fotos
                = image_tag su.imgresume.url, class: "suits_fotos"

          .col-xs-3.col-md-3
            %h3= link_to su.soul.nickname, soul_resume_path(su.soul_id, su)
            %h3
              = su.soul.surname
              = su.soul.name
            %h4
              City: 
              = su.soul.city
            %br
            %h4= link_to "#{truncate(su.suitname, length: 20)}", soul_resume_path(su.soul_id, su) 
            %h5= link_to "#{truncate(su.suitdescription, length: 20)}", soul_resume_path(su.soul_id, su)

          .col-xs-3.col-md-3
            .skillsall
              %h3 Technologies:
              %ul
              - su.my_skills.each do |sk|
                %li.poins{ :style => "list-style-type: none;" }
                  .glyphicon.glyphicon-ok-circle
                  = "#{sk.skill.upcase}&nbsp;&nbsp;".html_safe
              %h3 "#{su.soul.name}" is interested in:
              %ul
              - su.interested_ins.each do |skf|
                %li.points{ :style => "list-style-type: none;" }
                  .glyphicon.glyphicon-time 
                  = "#{skf.futureskill.upcase}&nbsp;&nbsp;".html_safe

          .col-xs-3.col-md-3
            %h3 Projects ( #{su.soul.projects.count} )
            .allresumesplateprojectplate
              - su.soul.projects.each do |pr|
                .projectplate
                  %h3= truncate(pr.name, length: 20)
                  %h5= truncate(pr.description, length: 35)
                  /%p= proj.description
                  %h4
                    visit website:
                    = link_to " #{truncate(pr.name, length: 7)}", pr.url, target: '_blank'
                %br

                  

  .col-xs-1.col-md-1
