.suitshowheader
  .col-sm-2
    .block_suit_foto
      = link_to(image_tag(@resume.imgresume.url , :title => "#{@soul.name}'s soul information", :class => "suitfoto"), soul_path)
  .col-sm-4
    #user_suit_name
      %h3= link_to @soul.name + " " + @soul.surname, soul_path
      %h4= link_to @soul.nickname, soul_path
      %h4 Age: #{@age.year - @soul.born.year}
      %h4 City: #{@soul.city}

  .col-sm-2
    #usermobilenumber
      %h2= @soul.mob_number
      %p= @resume.workmail
      /%p mail-me function
  .col-sm-4
    #usersosialnetworks
      .sosiallogosuitshowpagetransform
        = link_to image_tag( 'in.png', :class => 'sosiallogosuitshowpage' ), @soul.linkid, target: '_blank'
      .sosiallogosuitshowpagetransform
        = link_to image_tag( 'github.png', :class => 'sosiallogosuitshowpage' ), @soul.github, target: '_blank'
      .sosiallogosuitshowpagetransform
        = link_to image_tag( 'fb.png', :class => 'sosiallogosuitshowpage' ), @soul.facebook, target: '_blank'
      .sosiallogosuitshowpagetransform
        = link_to image_tag( 'skype.png', :class => 'sosiallogosuitshowpage' ), "#", target: '_blank', title: @soul.skype, data: { confirm: "Skype name is:   #{@soul.skype} " }#, class: 'sosial_logo_suit_show_page_tr'
      /%h4= @soul.facebook
      /= link_to image_tag( 'fb.png'), @soul.facebook
      /%h4= @soul.skype
      /<a href=@soul.Facebook, target="_blank" class=" div1"><%= image_tag("fb.png", :title => "My Facebook", :class => "ava1")%><span class="name"></span></a></li>

.suitbody
  .allcv
    .col-sm-1
    .col-sm-10
      .technologies
        .col-xs-6.col-md-6
          #Technologies_I_work_with:
            %h3 Technologies I work with:
            %ul
              - @resume.my_skills.each do |skill|
                %li.poins{ :style => "list-style-type: none;" }
                  .glyphicon.glyphicon-ok-circle
                  = skill.skill 
        .col-xs-6.col-md-6
          #Interested_in:
            %h3 Interested in:
            %ul
              - @resume.interested_ins.each do |interested_in|
                %li.poins{ :style => "list-style-type: none;" }
                  .glyphicon.glyphicon-time
                  = interested_in.futureskill
      %h3 Software experiance (projects):
      .currentresumebodypr
        - @projects.each do |proj|
          .currentresumebodyprojectplate
            .col-xs-2.col-md-2
              = link_to image_tag(proj.imgproject.url, :title => "Back to Welcome Page", :class => "projectfotos"), soul_project_path(@soul, proj)
            .col-xs-4.col-md-4.scr
              %h4= link_to proj.name, soul_project_path(@soul, proj)
              %h5= proj.description
            .col-xs-3.col-md-3.scr
              %h5 Team Leader: #{proj.team.upcase}
              %h5 Squady:
              %ul
                - proj.projectteams.each do |pro|
                  %li= pro.team.upcase
              /%h5= proj.projectteams.each {|pro| pro.team }
              /%p= truncate(proj.description, length: 25)
            .col-xs-2.col-md-2.scr
              %h5 Site:  
              %h4= link_to proj.name, proj.url, target: '_blank'
            /(:name, :description, :url, :imgproject, :team, :client, :imgproject, 
            /projectteams_attributes: [:id, :team, :_destroy])
            .col-xs-1.col-md-1#commentslikes
              %p
                = proj.get_upvotes.size 
                Likes
              %p
                = proj.get_downvotes.size 
                Dislikes
              %p= pluralize(proj.projcomments.count, "Comment")
      %h3 Experiance:
      .currentresumeexperiance
        %ul
          - @experiance.each do |exper|
            %li.expname{ :style => "list-style-type: decimal;"}
              %h4= link_to exper.title + ":", exper.workplaceurl, target: '_blank'
              %h5
                Since
                = exper.startdate
                to
                = exper.enddate
                = exper.datecomment
              %ul
                - exper.experiencelists.each do |ex|
                  %li.explist{ :style => "list-style-type: none;"}
                    = "- " + ex.exp_mark
              %h4= exper.description 
      .currentresumeeducation
      %h3 Education:
      #Education:
        %ul
          - @resume.educations.each do |education|
            %li= education.college
  
      #Additional_education:
        %h3 Additional education:
        %ul
          - @resume.additional_educations.each do |additional_education|
            %li= additional_education.academy 
  
      #Additional_education:
        %h3 Work objectives:
        %ul
          - @resume.workobjectives.each do |workobjective|
            %li= workobjective.objective 
  
      #Additional_education:
        %h3 Reasons to find a new job:
        %ul
          - @resume.reasons.each do |reas|
            %li= reas.reason 
      %h3 Life Purposes:
      .currentresumepurposes
        %ul
          - @purposes.each do |purp|
            %li.prp{ :style => "list-style-type: upper-roman;"}
              %h4=link_to purp.purport, soul_purpose_path(@soul, purp), target: '_blank'
              %h5= purp.description
              %h5=link_to "Site", purp.url, target: '_blank'
              %h5
                = purp.get_upvotes.size 
                Likes
                |
                = purp.get_downvotes.size 
                Dislikes
                |
                = pluralize(purp.purpcomments.count, "Comment")
      .currentresumehobbies
        %h3 My hobbies:
      .currentresumemyqmya
        .col-xs-6.col-md-6
          %h3 My quotations:
        .col-xs-6.col-md-6
          %h3 My articles:


    .col-sm-1
  .footer
  = link_to "new", new_soul_resume_path, class: "btn btn-default btn_bottom_back"



  - if @soul.user == current_user
    = link_to "edit", edit_soul_resume_path, class: "btn btn-default btn_bottom_back"
    = link_to "delete", soul_resume_path(@soul, @resume), method: :delete, data: {confirm: "Are you   sure?"}, class: "btn btn-default btn_bottom_back"